body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin: 20px 0;
}

select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
}
.header h1 {
    text-align: center;
    font-size: 48px;
    color: #007bff; /* azul bonito */
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Arial Black', sans-serif;
}
.integrantes {
    text-align: center;
    margin-bottom: 40px;
}

.integrantes ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.integrantes li {
    margin: 5px 0;
    color: #007bff;
    font-weight: bold;
}
