body {
    font-family: Arial, sans-serif;
    background-color: #f3f5f7;
    color: #222;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3d195b;
    color: white;
    padding: 20px;
}

.logo {
    width: 120px;
}

h1, h2, h3 {
    margin: 10px 0;
}

form {
    margin: 20px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #3d195b;
    color: white;
}

.logo-equipo img {
    width: 150px;
    margin: 15px;
}
